.Banner {
    position: relative;
    background: rgb(253, 205, 7);
    height: 85px;
    margin-bottom: 5px;
    /* border: 1px solid;*/
    width: 100%;
}

.Div_father {

    height: 770px;
    position: relative;
    width: 98%;
    /*background: blueviolet;*/
    margin: 0;
    left: 1%;
}

.image {
    /* border: 1px solid; */
    position: relative;
    float: left;
}

a {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 30px;
    margin: 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: black;;
}

a:hover {
    box-shadow: 0px 2px 0px black;
}









