<html>
<body>
<div class="Banner">

    <div class="image">
        <img src="./assets/logo.svg" style="height: 80px">

    </div>

    <div class="image" style="left: 10px">
        <img src="./assets/text.svg" style="height: 80px">

    </div>

    <div class="image" style="top: 20%; left: 40%">
        <a href="#charts">Charts</a>
    </div>

    <div class="image" style="top: 20%; left: 40%">
        <a href="#log">Logs</a>
    </div>

    <div class="image" style="width: 5%; top: 20px; left: 45%">
    <span tooltip="Ever Cabarcas Mallarino"
          [tooltipDisabled]="false"
          [tooltipAnimation]="true"
          tooltipPlacement="bottom">
    <img src="./assets/picture.jpg" style="width: 100%; border-radius: 50%; height: 52px">
    </span>
    </div>

</div>


<div id="log" name="log" class="Div_father" style="clear: both; top: 40px">
    <app-logs></app-logs>
</div>

<a id="charts" name="charts"></a>

</body>
</html>



